//css for album item

.album-item {
    &__thumnail {
        
        & img {
            width: 200px;
            height: 200px;
            border-radius: 1rem;
        }
    }
    &__detail {
        background-color: aqua;

        text-align: center;
    }
}
